/*--------------------Custom Properties-------------------*/
:root {
    --first-color: #FC4F00;
    --first-alpha-color: rgba(252, 79, 0, 0.70);
    --second-color: #14192d;
    --second-alpha-color: rgba(20,25,45,0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80,20,100,0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}
/*--------------------Reset-------------------*/
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/*--------------------Components-------------------*/

/*--------------------NavLogo-------------------*/
.logo_container {
    width: 45px;
    aspect-ratio: 1;
    color: var(--first-color);
    border-radius: 50%;
    border: var(--white-color) solid 6px;
    position: relative;
    z-index: 2000;
    
    
    
}

.main_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 2px;
    
    
}

.mini_logo {
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 10px;
    font-size: 10px;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.words_logo {
    position: absolute;
    width: 100px;
    font-size: 18px;
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    font-weight: bold;
}

/*--------------------Carousel-------------------*/

.carousel {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 370px;
    text-align: center;
    background-color: var(--carousel_bg_color);
    overflow: hidden;
        
}

.carousel input {
    display: none;
}

.carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    aspect-ratio: 1;
    cursor: pointer;

}

.carousel .slides {
    width: 400%;
    padding-left: 0;
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    
}


.slide blockquote {
    margin: auto;
    width: 70%;
    
} 


#slide-1:checked ~ .slides {
    transform: translateX(0%);
}

#slide-2:checked ~ .slides {
    transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
    transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
    transform: translateX(-75%);
}

.slides_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

#slide-1:checked ~ .slides_nav label#dot-1,
#slide-2:checked ~ .slides_nav label#dot-2,
#slide-3:checked ~ .slides_nav label#dot-3,
#slide-4:checked ~ .slides_nav label#dot-4 {
    background-color: var(--gray-dark-color);
    width: 1.1rem;
    transition: background-color 0.3s ease-in, width 0.3s ease-in;
}


/*--------------------Contact Form-------------------*/
.contact_form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact_form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact_form input, 
.contact_form textarea {
    font-size: 0.85rem;
    font-family: var(--font);
}

.contact_form input {
    border: none;
    border-bottom: thin solid var(--gray-dark-color);
    padding-left: 0;
}

.contact_form textarea {
    border: thin solid var(--gray-dark-color);
    resize: none;
}

.contact_form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.contact_form input[type="submit"]:hover {
    opacity: 0.75;
}

.contact_form *::placeholder {
    color: var(--gray-dark-color);
}

.contact_form-response {
    padding: 3rem 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}


@media screen and (min-width: 1024px) {
    .contact_form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact_form input,
    .contact_form textarea {
        font-size: 1rem;
    }

    .contact_form textarea,
    .loader {
        grid-column: span 2;
    }

    .contact_form input[type="submit"] {
        margin-left: 0;
    }

    .social_media {
        display: flex;
        padding-top: 1rem;
    }
}
    
/*--------------------Loader-------------------*/
.loader {
    width: 60px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top: 4px solid var(--first-color); 
    animation: rotate360 3s linear infinite;
}



.loading_title {
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    animation: rotateName360 3s linear infinite;
}

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateName360 {
    to {
        transform: rotate(-360deg);
    }
}

/*--------------------Modal Gracias-------------------*/
.icon_container {
    display: flex;
    position: relative;
    margin-top: 1rem;
}

.response_icon {
    width: 50px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px 1px #000;
    rotate: -10deg;
    animation: faceMove 2s ease-in-out infinite;
}

.face_icon {
    display: block;
    font-size: 58px;
    color: rgb(175, 143, 2);
    
}

.like_icon {
    font-size: 35px;
    position: absolute;
    left: 55px;
    top: 10px;
    rotate: -15deg;
    display: inline-block;
    animation: likeMove 2s ease-in-out infinite;
    color: rgb(175, 143, 2);
    text-shadow: 1px 2px 5px 1px #000;
    /*reverse*/
    /*-moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);*/
}

@keyframes likeMove {
    to {
        transform: translateY(-5px); 
    
    }
    from {
        transform: rotate(15deg);
    }
}

@keyframes faceMove {
    to {
        transform: translateY(0px); 
    
    } from {
        transform: translateY(10px);
    }
}


/*--------------------Home Image-------------------*/
.home_image {
    background-image: var(--home-image);
    background-attachment: var(--home-attachment);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media not all and (min-resolution:.001dpcm) {
    .safari_only {
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
 }


.home_image_opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--home-opacity-color);
}

.home_image_title {
    font-size: 7.5vw;
    color: var(--home-text-color)
}

/*--------------------Menu-------------------*/
.menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    width: 40px;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: var(--second-color);
    color: var(--first-color);
    font-size: 1.5rem;
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform 0.6s ease, opacity 0.5s ease;
    
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: transform 0.6s ease, opacity 0.5s ease;
    
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .menu a {
        padding: 0 1rem;
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
    }
}

/*-------------------Modal-------------------*/
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal_content {
    position: relative;
}


.modal_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal_close h2 {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|='trabajo']:target {
    opacity: 1;
    pointer-events: auto;
    transition: all 1s;
}

.portfolio_modal {
    width: 300px;
}

/*--------------------ProgressBar-------------------*/
progress {
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
    background-color: var(--gray-color);
}

progress::-webkit-progress-value {
    background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar {
    background-color: var(--gray-color);
}

progress::-moz-progress-value {
    background-color: var(--gray-dark-color);
}

.progress {
    margin: 1rem auto;
}

.progress > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/*--------------------Utilities-------------------*/
.certificate_img {
    max-width: 60%;
    object-fit: cover;
}


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.box-shadow_1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
} 

.bg_gray_light {
    background-color: var(--gray-light-color);
}

.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
    
}

.gray_scale {
    filter: grayscale(1);
}

.none {
    display: none;
}

.section_padding {
    padding: 2rem 1rem;
}

.section_title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--text-color);
}

.text_first_color {
    color: var(--first-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 1024px) {
    .full-lg-screen {
        min-height: 100vh;
    }
    
    .text-lg-center {
        text-align: center;
    }
    
    .text-lg-left {
        text-align: left;
    }
    
    .text-lg-right {
        text-align: right;
    }
}

/*--------------------Site Styles-------------------*/
.about > article {
    margin-bottom: 2rem;
}

.contact {
    padding-top: 6rem;
}

.contact_card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact_card > small {
    margin-top: -1rem;
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.portfolio {
    padding-top: 6rem;
}

.portfolio_card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portfolio_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_card_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease-in-out;
}

.portfolio_card:hover .portfolio_card_info {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.75s ease-in-out;
}

.portfolio_card_info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
}

.portfolio_modal {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
}



.portfolio_modal h3 {
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: var(--title-color);
}

.portfolio_details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}

.portfolio_details b {
    color: var(--first-color);
}

.services_card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;

}

.services_card h3 {
    color: var(--title-color);
}

.services_icon {
    width: 50px;
    aspect-ratio: 1;
    border: thin solid var(--first-color);
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
    fill: var(--first-color);
}

.social_media a {
    text-decoration: none;
    padding: 0 0.4rem;
}

@media screen and (min-width: 400px) {
    .carousel {
        max-width: 400px;
    }
}

@media screen and (min-width: 575px) {
    .carousel {
        max-width: 800px;
    }
}

@media screen and (min-width: 768px) {
    .contact_cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: center;
    }

   
    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        
    }

    .portfolio .section_title {
        grid-column: span 2;
    }

    .portfolio_modal {
        max-width: 800px;
        flex-direction: row;
    }

    .portfolio_modal img {
        width: 45%;
        margin-right: 1rem;
    }
    
    .portfolio_info {
        margin-left: 1rem;
        align-self: center;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
    }

    .services .section_title {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
    }

    .contact_cards {
        grid-template-columns: repeat(4, 24%);
    }

    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }

    .portfolio > .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio .section_title {
        grid-column: span 3;
    }

    .slides_nav {
        gap: 0;
    }

    .services > .container {
        grid-template-columns: repeat(3, 30%);
        
    }

    .services .section_title {
        grid-column: span 3;
    }
}

